<!DOCTYPE html>
<html>
    {{template "header" .Title}}
    <body>
        <h1>405 Method Not Allowed </h1>
        <p>you used {{.Method}} at uri {{.URI}}, and that is not allowed </p>
    </body>
</html>